<%-include("../partials/header")%>

<div id="authtemplate">
	<form class="form-signin" action="/forgot" method="POST">
		<div class="text-center mb-4">
			<h1 class="h3 mb-3 font-weight-normal">Forgot Password</h1>
		</div>

		<div class="form-label-group">
			<input name="email" type="email" id="inputUsername" class="form-control" placeholder="Email" required autofocus>
			<label for="inputUsername">Email</label>
		</div>

		<button class="btn btn-lg btn-primary btn-block" type="submit">Request Password Change</button>
		<div class="mt-2 text-left">
			<a href="#" onclick="goBack()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>  Go Back</a>
		</div>
		<p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
	</form>
</div>


<%-include("../partials/footer")%>