</div> 
<!-- end.container -->
<!-- bootstrap required javascripts -->
<!-- jquery -->
<script type="text/javascript" src="/assets/js/libs/jquery/jquery-3.5.1.min.js"></script>
<!-- bootstrap js bundle (with popper included) -->
<script async type="text/javascript" src="/assets/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>