<%-include('partials/header')%>

    <div class="container text-center .header-text" id="landing-header">
        <div>
            <h1>Welcome to Art Store Gallery!</h1>
        </div>
        <div>
            <a href="/artgallery" class="btn btn-lg btn-success"><i class="fa fa-artstation" aria-hidden="true"></i> View all Art's</a>
        </div>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</div>