<%-include('./partials/header')%>
	<link rel="stylesheet" type="text/css" href="/assets/css/landing.css">
	<div class="container text-center .header-text" id="landing-header">
			<div>
					<h1>Welcome to Art Store Gallery!</h1>
			</div>
			<div>
					<a href="/artgallery" class="btn btn-lg btn-success"><i class="fa fa-artstation" aria-hidden="true"></i> View all Art's</a>
			</div>
	</div>

	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<script type="text/javascript" defer>
		let lastScrollTop 	= 0,
			nav 			= selectDOM('#navBar');
		//default behavior
		nav.style ="display:none";
		// nav.addEventListener('scroll',()=>{
		// 	let st = window.pageYOffset || document.documentElement.scrollTop;
		// 	if(st > lastScrollTop){
		// 		nav.style = "";
		// 	} else {
		// 		nav.style = "display:none"
		// 	}
		// 	lastScrollTop = st <= 0 ? 0 : st;
		// })

	</script>
</main>
<!-- bootstrap js bundle (with popper included) -->
<script defer type="text/javascript" src="/assets/static/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
</body>
</html>