<!DOCTYPE html>
<html>
    <head>
        <title>The Art Store Gallery</title>
        <link rel="stylesheet" href="/assets/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/landing.css">
        <script src="/assets/js/libs/modernizr/2.8.3-modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

    <div class="container">
        <% if(msg_error && msg_error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= msg_error %>
            </div>
        <% } %>
        <% if(msg_success && msg_success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= msg_success %>
            </div>
        <% } %>
    </div>

    <div id="landing-header">
        <h1>Welcome to Art Store Gallery!</h1>
        <a href="/artgallery" class="btn btn-lg btn-success">View all Art's</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%-include('partials/footer')%>