html {
  font-family: Raleway;
}

/*Body*/
body {
  color: rgb(254, 253, 253);
  background-color: rgb(20, 20, 20);
}

#card-text-color {
  color:rgb(20, 20, 20);
}

.jumbotron div h1{
  font-size: 3.5rem;
}

/*Style for textarea*/
textarea {
 	resize: vertical;
}


/*form styling*/
div#formtemplate {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  /*background-color: #f5f5f5;*/
}
form.form-style {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.header-text {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1);
}


/*Style for cards in /artgallery*/
#card-container {
	padding: 0;
}

/*Style for flash message*/
#flash-container

#btn-marg {
	margin-bottom: 10px;
}

.form-inline {
	display: inline;
}

.alert {
	text-align: center
}